body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px 30px 30px 30px;
}
h1 {
    font-size: x-large;
    color:crimson
}
h2 {
    font-size: medium;
}
h3 {
    font-size: smaller;
    background-color: yellow;
}

.cards li {
  list-style: none;
}

.cards img {
  width: 250px;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: crimson;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgoldenrodyellow;
    padding: 0px 24px 0px 24px;
  }

  .body,
  .recipe {
    padding: 0px 24px 0px 24px;
  }