body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
h1 {
    font-size: x-large;
    color:crimson
}
h2 {
    font-size: medium;
}
h3 {
    font-size: smaller;
    background-color: yellow;
}

li {
  list-style: none;
}

img {
  width: 250px;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: crimson;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgoldenrodyellow;
    padding: 0px 24px 0px 24px;
  }

  .body {
    padding: 0px 24px 0px 24px;
  }